<mat-toolbar>
    <button mat-icon-button (click)="drawer.toggle()">
     <mat-icon>menu</mat-icon>
   </button>
   <img id="logo" src="assets/nombre.png ">
   <span class="example-spacer"></span>
   <button class="icon-3d" mat-icon-button>
     <mat-icon>email</mat-icon>
   </button>
   <button mat-icon-button class="icon-3d">
    <mat-icon>share</mat-icon>
  </button>
 </mat-toolbar>

 <mat-drawer-container>
    <mat-drawer #drawer mode="side">
      <div id="sidenavIzq"></div>
    </mat-drawer> 
  </mat-drawer-container>