img{
    border-radius: 50%;
    height: 250px;
    
    
}

#descripcion{
    margin-top: 20px;
    
}

#cv{
    background-color: rgb(212, 212, 155);
    font-family: 'Anonymous Pro', monospace;
    padding-top: 50px;
    font-size: 14pt;
    line-height: 40px;
    
}