/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&family=Raleway:ital,wght@1,500&display=swap');
/*font-family: 'Anonymous Pro', monospace; font-family: 'Raleway', sans-serif;*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

/* quitamos el borde de bootstrap al seleccionar algo */
